MachineLearning_In_Numpy/Classification/KNN/.ipynb_checkpoints
Scikit-Learn/DecisionTree/.ipynb_checkpoints
Scikit-Learn/LibML/__pycache__
Scikit-Learn/SVM/.ipynb_checkpoints
Scikit-Learn/LinearRegression/.ipynb_checkpoints
Scikit-Learn/GradientDesent/.ipynb_checkpoints
Scikit-Learn/KNN/.ipynb_checkpoints
Scikit-Learn/LibML/.idea
Scikit-Learn/PolynomialRegression/.ipynb_checkpoints
MachineLearning_In_Numpy/DecisionTree/.ipynb_checkpoints
.idea
MachineLearning_In_Numpy/Classification/DecisionTree/.ipynb_checkpoints
Scikit-Learn/Classification-Performance-Measures/.ipynb_checkpoints
Scikit-Learn/LogisticRegression/.ipynb_checkpoints
BestPractice/KNN/.ipynb_checkpoints
