Numpy/Classification/KNN/.ipynb_checkpoints
Scikit-Learn/DecisionTree/.ipynb_checkpoints
Scikit-Learn/LibML/__pycache__
Scikit-Learn/SVM/.ipynb_checkpoints
Scikit-Learn/LinearRegression/.ipynb_checkpoints
Scikit-Learn/GradientDesent/.ipynb_checkpoints
Scikit-Learn/KNN/.ipynb_checkpoints
Scikit-Learn/LibML/.idea
Scikit-Learn/PolynomialRegression/.ipynb_checkpoints
Numpy/DecisionTree/.ipynb_checkpoints
